@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: indigo;
}

.app {
    width: 600px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

@media (max-width: 576px){
    .app{
        width: 100%;
    }
}

.app-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0 15px;
    background-color: rgb(39, 39, 39);
    color: #fff;
}

.app-header h1 {
    line-height: 0;
    padding-bottom: 7px;
}

.app-header h3 {
    font-weight: 700;
}

.app-header button {
    margin-left: auto;
}

.app-header h3 span {
    color: rgba(255, 255, 255, 0.486);
}

.signinPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chatroomPage {
    height: calc(100% - 75px);
}

.chat-bubble {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
    height: 100%;
    max-height: calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    color: #fff;
}

.chat-bubble::-webkit-scrollbar{
    width: 5px;
}

.chat-bubble::-webkit-scrollbar-track{
    background-color: rgb(145, 145, 145);
}

.chat-bubble::-webkit-scrollbar-thumb{
    background-color:rgb(49, 49, 49);
}

.bubble{
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.bubble.sender{
    flex-direction: row-reverse;
}

.bubble .img-placeholder{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.bubble .img-placeholder img{
    width: 100%;
}

.bubble p{
    display: flex;
    align-items: center;
    margin: 0 15px;
    background-color: rebeccapurple;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.bubble.sender p{
    background-color: royalblue;
}

.chatroomPage form {
    display: flex;
    background-color: rgb(201, 188, 77);
    height: 60px;
}

.chatroomPage form button {
    border-radius: 0;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #f03a17;
}

.chatroomPage form input {
    flex-grow: 1;
    border-radius: 0;
    padding: 15px;
    border: none;
    font-size: 18px;
    background-color: rgb(43, 43, 43);
    color: #fff;
}

button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: papayawhip;
    color: #000;
    cursor: pointer;
}
